$height-lg: 90vh;
$height-sm: 40vh;

body.home {
	overflow: hidden;
}

.obra-container {
	background-color: $celeste;
	height: $height-sm;
	width: 100%;
	color: white;
	position: relative;
	display: flex;
	padding-top: 24px;
	margin-bottom: $grid-gutter-width / 2;
	transition: all ease-in 0.3s;

	@include respond-above(lg) {
		height: $height-lg;
	}
	
	 h1 {
	 	font-weight: bold;
	 	font-size: 2rem;
	 	max-width: 350px;
	 	line-height: 1.1em;
	 	@include respond-above(md) {
	 		font-size: 4rem;
	 	}
	 }

	 span.date {
		padding: 3px 3px 3px 24px;
		display: block;
		background-color: $celeste;
		margin-left: -24px;
	}

	div.obra-image {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 10;
  		opacity: 1;
  		background-repeat: no-repeat;
		background-size: cover;
	}

	a {
		color: white;
		&:hover {
			text-decoration: none;
		}
	}

	.obra-content {
		
		z-index: 20;
		padding: 0 24px 24px;
		color: white;
		display: flex;

		.right {
			ul {
				margin: 0 0 0 36px;
				padding: 0;
				li {
					list-style: none;
					font-weight: bold;
					padding-bottom: 12px;
				}
			}
		}
	}
}

div.lines {
	margin-top: 12px;
	span {
		display: block;
		height: .7vh;
		margin-bottom: 6px;
		background-color: white;
		width: 60%;
		&.short {
			width: 30%;
		} 
	}
}

main#main.site-main.home {
	@include respond-above('lg') {
		display: flex;
		overflow: hidden;
	}
}

#obras-link, #teatro-link {
	overflow: hidden;
	//height: $height-sm;
	width: 100%;
	margin-bottom: $grid-gutter-width / 2;
	position: relative;

	@include respond-above('lg') {
		//height: $height-lg;
		width: 50%;
		margin-bottom: 0;
	}
}


@include respond-above('lg') {
	#obras-link {
		padding-right: 0;
	}
}


.obras-nav-wrapper {
	transition: all ease-in 0.4s;
	&.obra-0 {
		margin-top: -77vh;
	}

	&.obra-1 {
		margin-top: -82vh;
	}
}

.section-desc {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.25em;
	color: white;
	max-width: 380px;
	@include respond-below('sm') {
		font-size: 18px;
	}
}

.home .site-content {
	z-index: 10;
}

#landing-overlay {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: left;
	
	.content-top {
		border-top: 10px solid black;
		border-left: 10px solid black;
		border-right: 10px solid black;
		border-radius: 0 15px 0 0;
		height: 85vh;
		background-color: $celeste;

		h1 img {
			max-width: 500px;
		}

		.wrapper {
			margin-left: 120px;
			margin-top: 120px;
		}

		.description {
			font-weight: 700;
			font-size: 24px;
			color: white;
			text-align: left;
			max-width: 320px;
			margin-left: 40px;
		}
	}

	.site-footer {
		margin: 0;
		width: 100%;
		background-color: $celeste;
		border: 10px solid black;
		padding: 16px 0;
	}
}