
div#page {
	max-width: 1300px;
	margin: 0 auto;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.site-header {
	background-color: $celeste;
	border-radius: 0 15px 0 0;
	color: #333;
	margin: 10px;
	a {
		color: #333;
		text-decoration: none;
	}

	@include respond-below(sm) {
		font-size: 14px;
	}

	.site-branding {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.description {
		color: white;
		text-align: right;
		margin:8px 12px 8px 24px;
		font-weight: 400;
		font-size: 12px;
		@include respond-above('md') {
			font-size: 16px;
		}
	}

	h1 {
		text-align: left;
		margin: 0;
		img {
			max-width: 360px;
			height: auto;
			@include respond-below(sm) {
				max-width: 120px;
			}
		}
	}
}

.site-branding {
	text-align: center;
}

section.with-home-section-divider {
	border-top: 1px solid #555;
	padding-top: 0;
	margin-top: 24px;
}

.section-title {
	color: #333;
	text-align: left;
	width: auto;
	margin: 0 0 24px 0;
	display: inline-block;
	padding: 6px 24px;
	border-width: 0 1px 1px 1px;
	border-color: #555;
	border-style: solid;
	color: #555;
	font-size: 16px;
}

.site-title {
	font-weight: normal;
	text-transform: uppercase;
}