// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.site-header {
	background-color: #ccc;
}

.site-branding {
	text-align: center;
}

section.with-home-section-divider {
	border-top: 1px solid #ccc;
	padding-top: 12px;
	margin-top: 24px;
}