// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.site-header {
	background-color: transparent;
	border-bottom: 1px solid #555;
	color: #333;
	a {
		color: #333;
		text-decoration: none;
	}

	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
}

.site-branding {
	text-align: center;
}

section.with-home-section-divider {
	border-top: 1px solid #555;
	padding-top: 0;
	margin-top: 24px;
}

.section-title {
	color: #333;
	text-align: left;
	width: auto;
	margin: 0 0 24px 0;
	display: inline-block;
	padding: 6px 24px;
	border-width: 0 1px 1px 1px;
	border-color: #555;
	border-style: solid;
	color: #555;
	font-size: 16px;
}

.site-title {
	font-weight: normal;
	text-transform: uppercase;
}