//Taxonomy y pagina de teatro tb

.single-obra.container,
.single-obra.container-fluid,
.page-creditos.container-fluid
 {
	margin-left: 0;
	margin-right: 0;
	background-color: white;

	@include respond-above(xl) {
		margin-left: auto;
		margin-right: auto;
	}
}

.single-obra-container-fluid div.wrapper,
.page-template-teatro div.wrapper
{
	//background-color: white;
	border-radius: 0 15px 0 0;
	.cabecera-obra {
		background-color: $celeste;
		position: relative;
		height: 44px;
		border-radius: 0 15px 0 0;
		margin-bottom: 12px;

		@include respond-above(lg) {
			height: 106px;
			background-size: cover;
		}

		div.text {
			position: absolute;
			top: 24px;
			left: 284px;
			z-index: 1;
			
			h1, h3 {
				line-height: 1;
			}

			h3 {
				color: $celeste_claro;
				font-weight: 700;
				margin-bottom: 0;
			}
			h1 {
				color: white;
				margin: 0;
			}

		}
	}

	@include respond-below(md) {
		.cabecera-obra div.text {
			top: 4px;
			left: 12px;
			h1 {
				font-size: 16px;
			}

			h3 {
				font-size: 14px;
			}
		}
	}
}

.ficha-obra h1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2em;
	color: $celeste;
	margin: 12px 0 0 0;
}


.single-obra {
	//background-color: #333;
	color: #333;
	margin: 0;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	@media screen and (max-width: 768px) {
		padding-top: 0;
	}
}

.intro-obra {
	text-align: left;
	@include respond-above(md) {
		font-size: 18px;
	}
}

header.ficha-title, 
.datos-obra {
	h2 {
		@include titulo-con-gris;
	}
}

.ficha-obra {
	margin: 0 0 36px 0;
	text-align: left;
	padding: 24px;
	
	dt.important,
	dd.important {
		color: $celeste;
		font-weight: 700;
	}

	dt,
	dd {
		line-height: 1.2em;
		font-size: 14px;
		@include respond-above(md) {
			font-size: 16px;
		}
	}

	dd {
		margin:0 0 1.5em 0;
	}
}

.strong-dd {
	font-weight: 300;
	br {
		content: '';
		display: block;
		width: 1px;
		height: 1px;
		margin-bottom: 8px;
		@include respond-below(md) {
			display: none;
		}
	}

	span.field {
		display: inline-block;
		padding: 0 12px 6px 0;
	}
}

.strong-dd.elenco {
	font-size: 14px;
	@include respond-above(md) {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.ficha-obra {
		padding: 0;
	}

	.datos-obra {
		padding-top: 24px;
	}
}

.tax-thumbnail {
	width: 100%;
	height: auto;
}

.timeline-dark {
	text-align: left;
	padding: 12px;
}

h1.play-title {
	margin: 6px 0;
	font-weight: 700;
	font-size: 32px;
	color: $celeste;
}

a.toggleTabs {
	&:focus, 
	&:visited {
		color: $negro;
	}
}

#obraTab {
	background-color: transparent;
	padding-top: 10px;
	margin: 0;
	display: flex;
	position: absolute;
	right: 16px;
	bottom: 20px;

	@include respond-above(md) {
		display: block;
	}

	a.nav-item,
	a.nav-item:visited,
	a.nav-item:focus {
		text-decoration: none;
		color: #333;
		//width: 140px;
		outline: none;
		background-color: $naranjo;
		border: 0;
		border-radius: 0;
		margin: 0 0 0 6px;
		font-weight: 700;
		text-align: center;
		padding: 3px 6px;
		font-size: 16px;
		transition: all linear 0.2s;
		display: block;
		float: left;
		min-width: 100px;
	}

	a.nav-item.last {
		border-radius: 0;
	}



	a.nav-item:hover,
	a.nav-item.active {
		background-color: white;
		color: black;
	}

	.tab-pane {
		min-height: 200px;
	}
}

.page-template-page-template-teatro,
.page-template-page-template-timeline-teatro,
.page-template-page-template-materiales-teatro {
	#obraTab a.nav-item {
		//width: 150px;
	}
}

#obraTab {
	.prevTopMenu,
	.nextTopMenu {
		display: none;
	}
}


@include respond-below(sm) {
	#obraTab {

		max-width: 160px;
		top: 2px;

		.prevTopMenu,
		.nextTopMenu {
			display: inline-block;
			color: white;
			font-size: 18px;
		}

		.nextTopMenu {
			margin: 0 0 0 6px;
		}

		.prevTopMenu {
			margin: 0 6px 0 0;
		}

		a.nav-item,
		a.nav-item:visited,
		a.nav-item:focus {
			display: none;
			font-size: 13px;
			width: 150px;
			margin: 0;
		}

		a.nav-item.current {
			display: block;
			background-color: $naranjo;
		}

		a.nav-item.current.active {
			background-color: white;
		}
	}
}

.standard-title {
	font-weight: bold;
	color: $celeste;
	font-size: 18px;
	margin: 12px 0;
}

a.toggleTabs {
	display: block;
	background-color: $gris;
	color: #333;
	padding: 6px 10px;
	border-radius: 0 15px 0 0;
}

.mini-time {
	margin-left: 6px;
	padding-left: 16px;
	border-left: 3px solid $celeste;
	position: relative;

	@include borderWithEdges('vertical');
}