//Taxonomy y pagina de teatro tb

.single-obra.container {
	margin-left: 0;
	margin-right: 0;

	@include respond-above(xl) {
		margin-left: auto;
		margin-right: auto;
	}
}

.single-obra-container-fluid div.wrapper,
.page-template-teatro div.wrapper
{
	background-color: white;
	border-radius: 0 15px 0 0;
	.cabecera-obra {
		background-color: $celeste;
		position: relative;
		height: 85px;
		border-radius: 0 15px 0 0;

		@include respond-above(lg) {
			height: 106px;
			background-size: cover;
		}

		div.text {
			position: absolute;
			top: 24px;
			left: 284px;
			z-index: 1;
			
			h1, h3 {
				line-height: 1;
			}

			h3 {
				color: $celeste_claro;
				font-weight: 700;
				margin-bottom: 0;
			}
			h1 {
				color: white;
				margin: 0;
			}

		}
	}

	@include respond-below(md) {
		.cabecera-obra div.text {
			top: 20px;
			left: 12px;
			h1 {
				font-size: 24px;
			}

			h3 {
				font-size: 18px;
			}
		}
	}
}

.ficha-obra h1 {
	font-weight: 700;
	font-size: 24px;
	color: $celeste;
	margin: 12px 0;
}

.header-texto-dramatico {
	h2 {
		font-weight: 700;
		font-size: 32px;
		color: $celeste;
		margin-bottom: 0
	}

	p {
		font-size: 18px;
	}

	@include respond-below(md) {
		margin: 24px 0 0 0;
		h2 {
			font-size: 18px
		}
		p {
			font-size: 14px;
		}
	}
}


.single-obra {
	//background-color: #333;
	color: #333;
	margin: 0;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	@media screen and (max-width: 768px) {
		padding-top: 0;
	}
}

.intro-obra {
	text-align: left;
	@include respond-above(md) {
		font-size: 18px;
	}
}

header.ficha-title {
	h2 {
		@include titulo-con-gris;
	}
}

.ficha-obra {
	margin: 0 0 36px 0;
	text-align: left;
	padding: 24px;
	
	dt.important,
	dd.important {
		color: $celeste;
		font-weight: 700;
	}

	dt,
	dd {
		line-height: 1.2em;
		font-size: 14px;
		@include respond-above(md) {
			font-size: 16px;
		}
	}

	dd {
		margin:0 0 1.5em 0;
	}
}

.strong-dd {
	font-weight: 300;
	br {
		content: '';
		display: block;
		width: 1px;
		height: 1px;
		margin-bottom: 8px;
		@include respond-below(md) {
			display: none;
		}
	}

	span.field {
		display: inline-block;
		padding: 0 12px 6px 0;
	}
}

.strong-dd.elenco {
	font-size: 14px;
	@include respond-above(md) {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	.ficha-obra {
		padding: 0;
	}
}

.tax-thumbnail {
	width: 100%;
	height: auto;
}

.timeline-dark {
	text-align: left;
	padding: 12px;
}

h1.play-title {
	margin: 6px 0;
	font-weight: 700;
	font-size: 32px;
	color: $celeste;
}

a.toggleTabs {
	&:focus, 
	&:visited {
		color: $negro;
	}
}

#obraTab {
	background-color: $gris;
	margin: 0;
	display: flex;
	a.nav-item,
	a.nav-item:visited,
	a.nav-item:focus {
		text-decoration: none;
		color: #333;
		outline: none;
		background-color: $gris;
		color: white;
		border: 0;
		border-radius: 0;
		margin: 0 0 -1px 0;
		font-weight: 700;
		text-align: center;
		padding: 12px 6px;
		font-size: 16px;
		transition: all linear 0.2s;
	}



	a.nav-item:hover,
	a.nav-item.active {
		background-color: $naranjo;
		color: black;
	}

	.tab-pane {
		min-height: 200px;
	}
}

@include respond-below(sm) {
	#obraTab {
		a.nav-item,
		a.nav-item:visited,
		a.nav-item:focus {
			font-size: 13px;
			padding: 8px 2px 8px 6px;
			line-height: 1.2em;
			text-align: left;
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
}

.standard-title {
	font-weight: bold;
	color: $celeste;
	font-size: 18px;
	margin: 12px 0;
}

a.toggleTabs {
	display: block;
	background-color: $gris;
	color: #333;
	padding: 6px 10px;
	border-radius: 0 15px 0 0;
}

.mini-time {
	margin-left: 6px;
	padding-left: 16px;
	border-left: 3px solid $celeste;
	position: relative;
	
	@include borderWithEdges('vertical');
}