.single-obra {
	//background-color: #333;
	color: #333;
	text-align: center;
	margin: 0;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	@media screen and (max-width: 768px) {
		padding-top: 0;
	}
}

.intro-obra {
	text-align: left;

	h2 {
		font-weight: normal;
		text-transform: uppercase;
		font-size: 18px;
	}
}

.ficha-obra {
	border: 1px solid #555;
	margin: 0 0 36px 0;
	text-align: left;
	padding: 24px;
	dd {
		margin:0 0 1.5em 0;
	}
}

.tax-thumbnail {
	width: 100%;
	height: auto;
}

.timeline-dark {
	text-align: left;
	padding: 12px;
}

h1.play-title {
	margin: 32px 0;
	font-weight: normal;
	font-size: 32px;
	text-transform: uppercase;
}

#obraTab {
	a.nav-item,
	a.nav-item:visited,
	a.nav-item:focus {
		text-decoration: none;
		color: #333;
		outline: none;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		margin: 12px 0 -1px 0;
		text-transform: uppercase;
	}

	a.nav-item.active {
		border-width: 1px;
		border-style: solid;
		border-color: #333;
		border-bottom-color: white;
	}

	.tab-pane {
		min-height: 200px;
	}
}

.standard-title {
	font-weight: normal;
	text-transform: uppercase;
}