#timeline-embed {
	min-height: 360px;
}

#timeline-obra {
	text-align: left;
}

#timeline-obra #timeline-embed {
	min-height: 360px;
	.tl-timenav,
	.tl-slider-container-mask {
		background-color: #333;
	}

	.tl-timeaxis-background {
		background-color: #000;
	}
}

.timeline-section {
	padding: 24px 0;
}