#timeline-embed {
	min-height: 430px;
	font-family: 'Nunito Sans', sans-serif;
	
	@include respond-above(xl) {
		min-height: 620px;
	}

	@include respond-below(md) {
		min-height: 460px;
		margin-top: 2px;
	}
}

#timeline-obra {
	text-align: left;
}

#timeline-main .col-md-12 {
	padding: 0;
}

#timeline-obra #timeline-embed {
	.tl-timenav,
	.tl-slider-container-mask {
		//background-color: #333;
	}

	.tl-timeaxis-background {
		//background-color: #000;
	}
}

.timeline-section {
	padding: 24px 0;
	@include respond-below(md) {
		padding: 0;
	}
}

#timeline-embed {
	.tl-slide-content {
		h2.tl-headline-title,
		h2.tl-headline {
			padding: 0;
			font-size: 22px;
			font-weight: 700;
			line-height: 1.2em;
			color: #00213D;
			@include respond-below(sm) {
				font-size: 18px;
				font-weight: 600;
			}
		}	
	}

	.tl-text-content,
	.tl-text-content p {
		color: #00213D;
	}
	@include respond-below(md) {
		.tl-text {
			margin-top: 0;
		}

		.tl-media {
			padding-top: 0;
			border-top: 0;
		}
	}	
}

.page-template-page-template-teatro-php .section-title.standard-title {
	display: none;
}

#timeline-embed {
	.tl-timenav {
		background-color: white;
		border-top: 0;
	}

	.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
		background-color: $naranjo;
		border-color: $naranjo;
	}

	.tl-timemarker .tl-timemarker-content-container {
		background-color: #DAE1E9;
	}

	.tl-timemarker .tl-timemarker-content-container .tl-timemarker-content.tl-timemarker-content-small .tl-timemarker-text h2.tl-headline {
		color: #333;
	}

	.tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-icon, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title, .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-description, .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-description {
		color: $celeste;
	}

	.tl-slidenav-content-container .tl-slidenav-title {
		display: none;
	}
}