.bit-gallery {
	
	margin: 24px 0;

	.image-wrap {
		img {
			max-width: 200px;
			height: auto;
			margin: 0 6px;
		}
	}	
}

.materiales-obra {
	margin: 0;
	a {
		text-decoration: none;
	}
}

ul#materialesTabs {
	li a {
		text-transform: uppercase;
		color: #333;
		font-size: 14px;
		border-radius: 0;
		&.active {
			border: 1px solid #333;
			background-color: white;
			color: #333;
		}
	}
}

div.filtertax {
	margin: 24px 0;
	button.btn {
		border: 1px solid #333;
		border-radius: 0;
		margin-right: 6px;
		border-style: dotted;
	
		&:hover {
			border-style: solid;
		}

		&.active {
			background-color: #f0f0f0;
			border-style: solid;
			box-shadow: 0;
		}
	}	
}

.terms-filter-zone,
.filtertype {
	margin: 24px 0;

	button.btn {
		margin-right: 6px;
		border: 1px solid #333;
		border-style: dotted;
		&.active,
		&:active,
		&:focus
		 {
			border: 1px solid #333;
			background-color: #f0f0f0;
			box-shadow: 0;
		}
	}
}

a.documento-download {
	padding: 24px;
	margin: 24px auto;
	border: 1px solid #333;
	color: #333;
	text-decoration: none;
	display: block;
	max-width: 360px;
}

.row.showfilter {
	margin: 24px 0;
}

.filtertax.hidden,
.filtertype.hidden {
	display: none;
}