
//Colores Tipos de texto

$acotacioncolor: #00DBA8;
$descripcioncolor: #00A1DB;
$cancioncolor: #A800DB;
$dialogocolor: #DB00A1;
$monologocolor: #DBA800;
$letracolor: #A1DB00;

.texto-dramatico {
}

.text-item {
	text-align: left;
	margin-bottom: 12px;
	padding-left: 12px;

	&.hasmedia {
		border-left: 1px solid #333;
	}
}

.info-texto {
	color: #555;
	margin: 0 0 24px 0;
	p {
		margin: 0;
	}
}

.media-zone {
	display: none;
	text-align: center;
}

.media-item-wrapper {
	.wp-video {
		margin: 0 auto;
		max-width: 100%;
	}
}

.wp-video {
	max-width: 100%;
}

a.trigger-media {
	color: #333;
	padding: 3px;
	text-decoration: none;
	&:hover, &.active {
		color: red;
	}
}



.full-row {
	margin: 12px -15px;
	padding: 12px 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.tns-outer {
	position: relative;
	.tns-controls {
		position: absolute;
		top: 40%;
		width: 100%;
		height: 100px;
		button {
			position: absolute;
			padding: 0;
			top: 50%;
			z-index: 10;
			border: 0;
			background-color: transparent;
			font-size: 36px;
			text-shadow: 0 0 4px white;
		}
		[data-controls="next"] {
			right: 0;
		}
		[data-controls="prev"] {
			left: 0;
		}
	}
}

.carousel-item {
	padding: 24px;
	margin: 24px auto;
	max-width: 98%;
	text-align: center;
	display: flex;
	align-items: center;
	img, 
	video {
		max-width: 100%;
		height: auto;
	}
}

.media-caption {
	p {
		display: inline-block;
		margin: 0;
		&:after {
			content: ' - ';
		}
	}
	p:empty {
		display: none;
	}
	p.item-descext {
		display: block;
		&:empty {
			display: none;
		}
	}
}

.audiocontainer {
	margin: 140px 0;
}

.wavecontainer {
	margin: 24px 0 48px 0;
}

a.document-download-button {
	padding: 60px 24px;
	margin: 24px auto;
	max-width: 460px;
	display: block;
	text-decoration: none;
	font-size: 24px;
	&:hover {
		//background-color: #f0f0f0;
	}
}

.tns-horizontal.tns-subpixel>.tns-item {
	vertical-align: middle !important;
}

.tns-nav {
	button {
		border: 0;
		border-radius: 50%;
		height: 28px;
		width: 24px;
		background-color: white;
		border: 2px solid #555;
		margin: 6px;
	}
	button.tns-nav-active {
		background-color: #555;
	}
}

.utils {
	padding: 24px;
	border: 1px dashed #555;
	margin: 24px 0;
}

.textlegend > .col-md-12,
.textPersonajes > .col-md-12 {
	display:flex;
	padding: 24px 10px 0 10px;
	.typelabel {
		display: inline-block;
		padding: 6px;
		flex-grow: 1;
		color: #000;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		text-shadow: 0 1px 1px white;
		margin: 0 5px;
		border-style: solid;
		border-width: 2px;
		cursor: pointer;
		
		&.acotacion {
			color: $acotacioncolor;
			border-color: $acotacioncolor;
		}

		&.descripcion {
			color: $descripcioncolor;
			border-color: $descripcioncolor;
		}

		&.cancion {
			color: $cancioncolor;
			border-color: $cancioncolor;
		}

		&.dialogo {
			color: $dialogocolor;
			border-color: $dialogocolor;
		}

		&.monologo {
			color: $monologocolor;
			border-color: $monologocolor;
		}

		&.letra {
			color: $letracolor;
			border-color: $letracolor;
		}

		&.personajelabel {
			border-color: #ccc;
			&:hover, &.active {
				background-color: #f0f0f0;
			}
		}
	}
}

.textlegend {
	display: none;
}

.textlegend.active {
		display: block;
	}


@media screen and (max-width: 768px) {
	.textlegend > .col-md-12 {
		display: block;
		.typelabel {
			width: 100%;
			display: block;
			margin-bottom: 6px;
		}
	}	
}


.texto-dramatico.withTypes {
	[data-type="acotacion"] {
		color: $acotacioncolor;
		a.trigger-media, .badge-light {
			color: $acotacioncolor;
		}
		.text-item.hasmedia {
			border-color: $acotacioncolor;
		}
	}
	[data-type="descripcion"] {
		color: $descripcioncolor;
		a.trigger-media, .badge-light {
			color: $descripcioncolor;
		}
		.text-item.hasmedia {
			border-color: $descripcioncolor;
		}
	}
	[data-type="cancion"] {
		color: $cancioncolor;
		a.trigger-media, .badge-light {
			color: $cancioncolor;
		}
		.text-item.hasmedia {
			border-color: $cancioncolor;
		}
	}
	[data-type="dialogo"] {
		color: $dialogocolor;
		a.trigger-media, .badge-light {
			color: $dialogocolor;
		}
		.text-item.hasmedia {
			border-color: $dialogocolor;
		}
	}
	[data-type="monologo"] {
		color: $monologocolor;
		a.trigger-media, .badge-light {
			color: $monologocolor;
		}
		.text-item.hasmedia {
			border-color: $monologocolor;
		}
	}
	[data-type="letra"] {
		color: $letracolor;
		a.trigger-media, .badge-light {
			color: $letracolor;
		}
		.text-item.hasmedia {
			border-color: $letracolor;
		}
	}
}

.texto-dramatico.onlyMedia {
	.playtext-row[data-hasmedia="false"] {
		display: none;
	}
}

.custom-control .custom-control-label {
	padding-top: 3px;
}

.mediaitems-gallery {
	display: flex;
	align-items: flex-start;
	justify-content: left;
	flex-wrap: wrap;
	margin: 32px 0;
}

.media-item {
	text-align: center;
	display: block;
	position: relative;
	padding: 32px;
	border: 1px solid #ccc;
	margin: 3px;
	width: 200px;
	height: 140px;
	background-color: white;
	transition: all 0.1s linear;
	cursor: pointer;
	
	&:hover {
		transform: scale3d(1.1, 1.1, 1.1);
		z-index: 10;
		box-shadow: 0 0 6px #555;
	}

	.media-item-text {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #333;
		padding: 6px;
		text-align: right;
		color: white;
		font-size: 11px;
		text-transform: uppercase;
		z-index: 2;
	}

	span.mediaicon {
		font-size: 48px;
		position: absolute;
		width: 198px;
		text-align: center;
		left: 0;
		top: 30px;
	}
}

@media screen and (max-width: 768px) {
	.media-item {
		width: 48%;
		padding: 1%;
		span.mediaicon {
			max-width: 100%;
		}
	}
}

.mediazone-title {
	margin: 0;
    font-size: 12px;
    text-align: right;
    margin-top: 0;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #333;
    padding: 5px;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: -44px;
    right: 0;
}

.modal-media-text {
	.modal-content {
		border-radius: 0;
	}
	.modal-header {
		padding: 0.5rem;
	}
	.modal-title {
		font-size: 24px;
		font-weight: normal;
		width: 100%;
		text-align: center;
		margin: 0;
	}
	.modal-body {
		text-align: center;
		img, video {
			max-width: 100%;
			height: auto;
			margin: 12px auto;
			max-height: 80vh;
		}
		.wp-video {
			text-align: center;
			margin: auto;
		}
	}
}

.mediainfotable {
	text-align: left;
	padding: 12px;
	border: 1px solid #333;
	margin: 24px 0;
	span.label {
		font-weight: bold;
	}
}

.col-personajes {
	text-align: right;
}

.personajes {
	font-size: 12px;
	text-transform: uppercase;
	color: #666;
	p {
		margin: 0;
	}
}

.hidden {
	display: none;
}