
.page-template-page-template-teatro {
	.single-obra.container > .row > .col-md-12 {
		position: relative;
	}

	.obra-info-image {
		position: relative;
		height: 360px;
		overflow: hidden;
		img {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: auto;
			left: 0;
			top: -50%;
		}
	}

	.ficha-teatro {
		position: relative;
		padding-left: 16px;
		border-left: 3px solid $celeste;

		@include borderWithEdges('vertical');
	}

	.info-ficha-teatro {
		@include respond-below('sm') {
			margin-top: 24px;
		}
	}
}