body.admin-bar .main-navigation {
	top: 160px;
}

.main-navigation {
	clear: both;
	display: block;
	background-color: rgba(3, 40, 103, 0.8);
	z-index: 20;
	color: white;
	transition: all ease-in 0.5s;

	.menu-principal-container {
		margin-top: 48px;
		text-align: left;
		padding: 24px;
	}

	&.active {
		transition: all ease-out 0.5s;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	ul.sub-menu {
		margin-left: 36px;
		li a {
			font-weight: normal;
		}
		ul.sub-menu {
			margin-left: 72px;
			li a {
				font-weight: normal;
			}
		}
	}

	li {
		&:hover > a,
		&.focus > a {
			color: white;
		}
	}

	a {
		text-decoration: none;
		color: white;
		font-size: 24px;
		font-weight: 700;
		&:hover {
			color: white;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		font-weight: 700;
	}
}

.menu-toggle {
	font-size: 42px;
	cursor: pointer;
	color: $celeste_claro;
}


@include respond-above(md) {
	
	body.admin-bar .main-navigation.affix {
		top: 32px;
	}

	.main-navigation {
		width: 450px;
		position: fixed;
		top: 128px;
		left: -380px;
		height: 100%;
		

		&.affix {
			top: 0;
		}

		.menu-toggle {
			position: absolute;
			top: 12px;
			right: 18px;
		}

		&.active {
			left: 0;
		}
	}	
}

@include respond-below(md) {
	.main-navigation {
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		height: 50px;
		text-align: center;
		padding: 0;

		.menu-toggle {
			font-size: 32px;
		}

		&.active {
			left: 0;
			height: 60vh;
		}
	}
}